<?xml version="1.0" ?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>PyGithub</name>
  <summary>Github API for Python</summary>
  <description>Typed interactions with the GitHub API v3</description>
  <homepage>https://github.com/PyGithub/PyGithub</homepage>

  <group license="GPL License">
    <environment name="PYTHONPATH" insert="."/>
    <implementation version="{version}" released="{released}" stability="stable">
      <manifest-digest/>
      <archive href="https://github.com/PyGithub/PyGithub/archive/{version-original}.tar.gz" type="application/x-compressed-tar" extract="PyGithub-{version}"/>
    </implementation>
  </group>
</interface>