<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="feed.xsl"?>
<interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://zero-install.sourceforge.net/2004/injector/interface https://docs.0install.net/specifications/feed.xsd http://0install.de/schema/desktop-integration/capabilities https://docs.0install.net/specifications/capabilities.xsd" uri="https://gh-proxy.com/github.com/doudou0720/Aiwb_0Installer_Feed/raw/refs/heads/windows-feeds/feeds/screen-annotations/Inkeys/Inkeys.xml" xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
  <name>智绘教Inkeys</name>
  <summary xml:lang="zh-CN">将你的创意随心所欲地书写在屏幕的任意角落。</summary>
  <description xml:lang="zh-CN">将你的创意随心所欲地书写在屏幕的任意角落。
智绘教Inkeys 拥有丝滑流畅的高性能画笔、丰富强大的功能，以及众多贴心小设计，全面提升你的效率与使用体验。
软件基于 C++20 编写，专为 Windows 平台打造。</description>
  <icon href="https://gh-proxy.com/github.com/doudou0720/Aiwb_0Installer_Feed/raw/refs/heads/windows-feeds/feeds/screen-annotations/Inkeys/res/Inkeys.ico" type="image/vnd.microsoft.icon" />
  <icon href="https://gh-proxy.com/github.com/doudou0720/Aiwb_0Installer_Feed/raw/refs/heads/windows-feeds/feeds/screen-annotations/Inkeys/res/Inkeys.png" type="image/png" />
  <splash-screen href="https://gh-proxy.com/raw.githubusercontent.com/Alan-CRL/Inkeys/main/GithubRes/cover2.png" type="image/png" />
  <category type="https://github.com/doudou0720/Aiwb_0Installer_Feed/raw/refs/heads/windows-feeds/feeds/screen-annotations">屏幕批注</category>
  <homepage>https://www.inkeys.top/</homepage>
  <group license="OSI Approved :: GNU General Public License version 3 (GPL v3)">
    <requires os="Windows" interface="https://apps.0install.net/dotnet/clr.xml" version="4.7.2.." distribution="Windows" importance="recommended">
        <command name="run" path="go_wrapper.exe" />
    </requires>
    <implementation arch="Windows-x86_64" version="{version}">
      <command name="run" path="go_wrapper.exe" />
      <manifest-digest />
      <recipe>
        <archive href="https://cdn.gh-proxy.com/github.com/Alan-CRL/Inkeys/releases/download/{version}/Inkeys{version}-x64.zip" size="19209901" type="application/zip" extract="Inkeys64" />
        <file href="https://cdn.gh-proxy.com/github.com/doudou0720/Aiwb_0Installer_Feed/raw/refs/heads/go_wrapper/go_wrapper.exe" size="947712" dest="go_wrapper.exe" executable="true" />
        <file href="https://cdn.gh-proxy.com/github.com/doudou0720/Aiwb_0Installer_Feed/raw/refs/heads/windows-feeds/feeds/screen-annotations/Inkeys/wrapper.config.json" size="71" dest="wrapper.config.json" />
      </recipe>
    </implementation>
  </group>
  <entry-point command="run" binary-name="Inkeys" />
</interface>